&lt;a href=&quot;{{ url }}&quot;&gt;&lt;img src=&quot;../../images/logo-press.png&quot; class=&quot;logoSmall&quot; alt=&quot;Coach House Press logo&quot; /&gt;&lt;/a&gt;
&lt;a href=&quot;{{ url }}&quot;&gt;&lt;img src=&quot;../../images/logo-press.png&quot; class=&quot;logoMedium&quot; alt=&quot;Coach House Press logo&quot; /&gt;&lt;/a&gt;
&lt;a href=&quot;{{ url }}&quot;&gt;&lt;img src=&quot;../../images/logo-press.png&quot; class=&quot;logoLarge&quot; alt=&quot;Coach House Press logo&quot; /&gt;&lt;/a&gt;