&lt;p&gt;&quot;Though it come to the last, I shall still go before thee thy pilot.&quot;&lt;/p&gt;

&lt;p&gt;&quot;And when thou art so gone before&mdash;if that ever befall&mdash;then ere I can follow, thou must still appear to me, to pilot me still?&mdash;Was it not so? Well, then, did I believe all ye say, oh my pilot! I have here two pledges that I shall yet slay Moby Dick and survive it.&quot;&lt;/p&gt;

&lt;p&gt;&quot;Take another pledge, old man,&quot; said the Parsee, as his eyes lighted up like fire-flies in the gloom&mdash;&quot;Hemp only can kill thee.&quot;&lt;/p&gt;