&lt;h3&gt;&lt;strong&gt;Primary font Lora:&lt;/strong&gt;&lt;/h3&gt; 
&lt;p&gt;I went down to supper. After &lt;em&gt;sitting a long time&lt;/em&gt; listening to the long stories of some sailors who had just come from a plum-pudding voyage, as they called it (that is, a short whaling-voyage in a schooner or brig, confined to the north of the line, in the Atlantic Ocean only); after listening to these plum-puddingers till &lt;em&gt;nearly eleven o'clock,&lt;/em&gt; I went up stairs to go to bed, feeling quite sure by this time &lt;em&gt;Queequeg&lt;/em&gt; must certainly have brought his Ramadan to a termination. But no; there he was just where I had left him; he had not stirred an inch.&lt;/p&gt;

&lt;h3 class=&quot;font-display&quot;&gt;&lt;strong&gt;Display font Calendas Plus:&lt;/strong&gt;&lt;/h3&gt;
&lt;p class=&quot;font-display&quot;&gt;coach house press&lt;/p&gt;
&lt;p&gt;[display font includes text-transform uppercase and font-feature-settings enabled for ligatures and stylistic alternates.]&lt;/p&gt;