&lt;blockquote&gt;
   	&lt;p&gt;&quot;I might indeed believe that you were from another world,&quot; he said, &quot;for who of Pellucidar could be so ignorant!  The Mezops live upon the islands of the seas.  In so far as I ever have heard no Mezop lives elsewhere, and no others than Mezops dwell upon islands, but of course it may be different in other far-distant lands.  I do not know.  At any rate in this sea and those near by it is true that only people of my race inhabit the islands.&quot;&lt;/p&gt;
	&lt;cite class=&quot;citation&quot;&gt;Edgar Rice Burroughs&lt;/cite&gt;
&lt;/blockquote&gt;