&lt;ul class=&quot;sg-colors&quot;&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #FFFFFA;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#FFFFFA light cream&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #FFFFF0;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#FFFFF0 dark cream&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #A2A2A1;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#A2A2A1 light grey&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #534640;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#534640 brown&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #333333;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#333333 text black&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #CF000F;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#CF000F accent red&lt;/span&gt;
	&lt;/li&gt;
&lt;/ul&gt;